setuptools>=75.8.0
numpy>=2.0.1
pandas>=2.2.2
scipy>=1.14.0
dask[distributed]>=2024.8.0
pyarrow>=17.0.0
pooch>=1.8.2
netCDF4>=1.6.0
h5py>=3.11.0
tqdm>=4.66.5
pip-system-certs>=4.0
sphinx>=5.0.0
sphinx_rtd_theme>=1.1.0
docutils>=0.17.1
nbsphinx>=0.9.0
jupyter-book>=0.15.0
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability